[Desktop Entry]
Version=1.0
Name=Discord
Exec=maitri-launch-webapp https://discord.com/channels/@me
Terminal=false
Type=Application
Icon=maitri-discord
StartupNotify=true
