[Desktop Entry]
Version=1.0
Name=Figma
Exec=maitri-launch-webapp https://www.figma.com/
Terminal=false
Type=Application
Icon=figma
StartupNotify=true
