[Desktop Entry]
Version=1.0
Name=Google Maps
Exec=maitri-launch-webapp https://maps.google.com
Terminal=false
Type=Application
Icon=google-maps
StartupNotify=true
